@charset "utf-8";
/* CSS Document */
input,
textarea,
select,
button{
    outline:none;
}

html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 12px;
	font-family: "Microsoft Yahei"
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #407fa1 inset;
    color: rgb(255, 0, 0);
}

.ui-body{
	background: #5dbcec url(images/login-bg.jpg) no-repeat 50% 50%;
}

.ui-login{
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 1000px;
	height: 640px;
}
.ui-login .top-logo {
    width: 800px;
    height: 120px;
    margin: 0 auto;
    background: url(images/login-logo.png) no-repeat 50% 50%;
}
.ui-login-form {
    width: 810px;
    height: 430px;
    margin: 0 auto;
    background: url(images/login-form-bg.png) no-repeat 50% 50%;
}
.ui-login-form form {
    float: right;
    width: 320px;
    height: 260px;
    padding-top: 60px;
}
.ui-login-form .username,
.ui-login-form .password {
    width: 220px;
    height: 48px;
    line-height: 48px;
    background: url(images/input-bg.png) no-repeat 50% 50%;
    padding-left: 44px;
    margin-bottom: 15px;
    position: relative;
}
.ui-login-form .username i,
.ui-login-form .password i {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 48px;
}
.ui-login-form .username i.userIcon {
    background: url(images/userIcon.png) no-repeat 50% 50%;
}
.ui-login-form .password i.pwdIcon {
    background: url(images/pwdIcon.png) no-repeat 50% 50%;
}
.ui-login-form .login-input {
    width: 206px;
    height: 32px;
    line-height: 32px;
    border: none;
    background: none;
    color: #cff2ff;
    margin-top: 8px;
    padding-left: 10px;
}
.ui-login-form .login-input::-webkit-input-placeholder {
    color: #68a8cb;
}
.ui-login-form .login-input:focus{
    color: #fff;
}

.ui-login-form .login-btn .submit-btn {
    width: 264px;
    height: 48px;
    line-height: 48px;
    background: url(images/login-btn.png) no-repeat 50% 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
.ui-login-form .login-btn .submit-btn:hover{
    background: url(images/login-btn-hover.png) no-repeat 50% 50%;
}

.ui-login-footer{
	position: absolute;
	top: 630px;
	right: 0;
	left: 0;
    bottom: 0;
	margin: auto;
	width: 1000px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.ui-login-footer .foot-text{
	font-size: 14px;
	color: #f1f1f1;
}
.login-btn-pointer{
	cursor:pointer;
}











